/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  padding:2em;
}


.button {
  position:absolute;
  bottom:1em;
  padding-left:10%;
  padding-right:10%;
  width:80%;
}


.custom, .custom:link, .custom:visited, .custom:active, .custom:hover {
  width:100%;
  background:darkgreen !important;
  color:white !important;
}
