.main {
  height: 92vh;
}

map-view {
  height:92vh;
}

.button {
  position:absolute;
  bottom:1em;
  padding-left:10%;
  padding-right:10%;
  width:80%;
}


.custom {
  width:100%;
  background:darkgreen !important;
  color:white;
}
